html, body {
  background-image: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/wood_pattern.png);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

h3 {
  font-family: Port Lligat Slab, sans-serif;
  margin: 0;
  font-size: 3em;
}

p {
  font-family: Roboto, sans-serif;
}

.option {
  display: inline-block;
  position: relative;
  height: 11.5em;
  width: 11.5em;
  border: 1em;
  border-style: solid;
  border-color: rgb(51, 51, 51);
  border-color: rgba(51, 51, 51, 0.2);
}

.wrapper {
  width: 25em;
  height: 25em;
  border-radius: 100%;
  position: relative;
  text-align: center;
  margin: auto;
  background-color: #333;
  top: 15vh;
  box-shadow: 0 0 20px #333;
}

.wrapper-top {
  position: relative;
  top: 0.7em;
}

.console {
  width: 13em;
  height: 12em;

  position: absolute;
  border-radius: 25%;
  top: 26.5%;
  left: 24%;
  background-color: rgb(236, 231, 238);
  border: 1em;
  border-style: solid;;
  border-color: #333;
}

.console-inner {
  position: relative;
  top: 10%;
}

.green {
  border-top-left-radius: 100%;
  background-color: #00CC33;
  transition: 0.5s;
}

.green-active {
  background-color: #00A329;
  transition: 0.5s;
}

.red {
  border-top-right-radius: 100%;
  background-color: #CC0000;
  transition: 0.5s;
}

.red-active {
  background-color: #A30000;
  transition: 0.5s;
}

.blue {
  border-bottom-right-radius: 100%;
  background-color: #0033FF;
  transition: 0.5s;
}

.blue-active {
  background-color: #0029CC;
  transition: 0.5s;
}

.yellow {
  border-bottom-left-radius: 100%;
  background-color: #FFFF00;
  transition: 0.5s;
}

.yellow-active {
  background-color: #CCCC00;
  transition: 0.5s;
}
